@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

img {
  display: inline-block;
  width: 100%;
}

img:nth-child(2) {
  display: none;
}

img:nth-child(5) {
  display: none;
}

@media only screen and (min-width: 25em) {

  img {
    display: inline-block;
    width: 100%;
    float: left;
  }

  img:nth-child(2) {
    display: inline-block;
    width: 50%;
  }

  img:nth-child(3) {
    width: 50%;
  }

  img:nth-child(4) {
    width: 50%;
  }

  img:nth-child(5) {
    display: inline-block;
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}
